.chatbox {
  max-height: 60vh;
  width: 90%;
  overflow-y: scroll;
  background-color: white;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.95);
  margin: 2em auto;
  margin-bottom: 0;
}

.inbox, .typing {
  margin: 0.5em 1em;
}

.message {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  padding-top: 0.5em;
  padding-bottom: 1em;
}

.message .message-headers {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.message .message-headers p {
  margin-top: 0;
  margin-bottom: 0.5em;
  color: rgba(0, 0, 0, 0.25);
  font-size: 0.75em;
}

.message .message-headers p:first-of-type {
  font-weight: bold;
  color: rgba(0, 0, 0, 0.8);
  font-size: 1em;
}

.message-content p {
  margin: 0;
}

.connected {
  color: rgb(31, 153, 127);
}

.disconnected {
  color: rgb(194, 69, 20);
}

.typing-text {
  color: rgba(0, 0, 0, 0.25);
}

#messageForm {
  width: 90%;
  margin: 0 auto;
  padding: 0.5em 0;
  display: flex;
  justify-content: space-between;
}

#messageForm textarea {
  flex-grow: 1;
  border: none;
}

#messageForm textarea:focus {
  outline: none;
}

#messageForm button {
  font-size: 1.25em;
  padding: 0.5em 1em;
  border: none;
  background-color: rgba(0, 0, 0, 0.85);
  color: white;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.25);
}

