.connect-form {
  background-color: white;
  display: flex;
  margin: 5% auto;
  width: 50%;
  max-height: 50%;
  flex-direction: column;
  padding: 5%;
  align-items: center;
  border-radius: 4px;;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.95);
}

.connect-form label {
  font-size: 1.5em;
}

.connect-form input {
  margin: 5% 0;
  width: 50%;
  font-size: 1.25em;
  color: rgba(0, 0, 0, 0.8);
  text-align: center;
  border: none;
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
}

.connect-form input:focus {
  outline: none;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
}

.connect-form button {
  font-size: 1.25em;
  padding: 0.5em 1em;
  border: none;
  background-color: rgba(0, 0, 0, 0.85);
  color: white;
  border-radius: 4px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.25);
}